<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="icon" href="<%= basePath('favicon.ico') %>" type="image/x-icon" />

    <!-- custom font DynaPuff -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="<%= basePath('/styles/style.css') %>">
    <script src="<%= basePath('/scripts/upload.js') %>" defer></script>
</head>
<body>
    <div class="titleBar">
        <h2 class="titleName"><%= title %></h2>
        <form id="uploadForm" enctype="multipart/form-data">
            <input type="file" id="imageInput" name="image" accept="image/*" required hidden />
            <!-- proxy upload button that forwards the click to the real input above -->
            <button id="uploadButton">Upload an image!</button>
        </form>
    </div>

    <div id="uploadStatus"></div>

    <div class="gallery">
        <% imagePaths.forEach(function(imagePath) { %>
            <a href="<%= basePath(`/images/${imagePath}`) %>" download="<%- imagePath %>">
                <img src="<%= basePath(`/images/${imagePath}`) %>" alt="<%- imagePath %>">
            </a>
        <% }); %>
    </div>
</body>
</html>
